@model List<TortasModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card bg-dark text-white">
    <div class="card-header">
        Listado de Pasteles
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Tortas" class="btn btn-success"><i class="bi bi-person-plus-fill"></i>Agregar Nuevo Pastel</a>
        <hr />
        <table class="table table-dark table-hover table-bordered-white" style="border: 1px solid white;">
            <thead>
                <tr>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Marca</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Nombre</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Descripción</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Costo</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Creación</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Vencimiento</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Stock</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Imagen</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Editar</th>
                    <th class="text-center" style="vertical-align: middle; border: 1px solid white;">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="vertical-align: middle; border: 1px solid white;">@item.marcaB</td>
                        <td style="vertical-align: middle; border: 1px solid white;">@item.nombreT</td>
                        <td style="vertical-align: middle; border: 1px solid white;">@item.descripcionT</td>
                        <td class="text-center" style="vertical-align: middle; border: 1px solid white;">@item.costoT</td>
                        <td class="text-center" style="vertical-align: middle; border: 1px solid white;">@item.fechaCreacionT.ToString("yyyy-MM-dd")</td>
                        <td class="text-center" style="vertical-align: middle; border: 1px solid white;">@item.fechaVencimi.ToString("yyyy-MM-dd")</td>
                        <td class="text-center" style="vertical-align: middle; border: 1px solid white;">@item.stockT</td>
                        <td class="text-center" style="vertical-align: middle; border: 1px solid white;"><img src="@item.imagenT" alt="Imagen de Pan" style="width: 50px; border: 2px solid black" /></td>
                        <td style="vertical-align: middle; border: 1px solid white;" class="text-center">
                            <a asp-action="Editar" asp-controller="Tortas" class="btn btn-primary" asp-route-idTortas="@item.idTortas"><i class="bi bi-pencil-square"></i></a>
                        </td>
                        <td style="vertical-align: middle;" class="text-center">
                            <a asp-action="Eliminar" asp-controller="Tortas" class="btn btn-danger" asp-route-idTortas="@item.idTortas"><i class="bi bi-trash-fill"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>