@model List<TortasModel>
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Ver_Pasteles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/ContCar.css" />
}

<section class="contenedor mt-4 mb-4">
    <div class="contenedor-items">
        <!-- Contenedor de elementos -->
        @foreach (var item in Model)
        {
            <div class="item" style="background: white">
                <span class="titulo-item">@item.nombreT</span>
                <span class="otros-item">@item.marcaB</span>
                <img src="@item.imagenT" class="img-item"/>
                <span class="precio-item">S/. @item.costoT</span>
                <span class="otros-item d-none">Disponible @item.stockT</span>
                <button class="boton-item">Agregar al carrito</button>
            </div>
        }
    </div>
    <!-- Carrito de Compras -->
    <div class="carrito" id="carrito">
        <div class="header-carrito">
            <h4>Previsualizado de las Compras</h4>
        </div>
        <div class="carrito-items">
        </div>
        <div class="carrito-total">
            <div class="fila">
                <strong>Total en S/</strong>
                <span class="carrito-precio-total">
                    $120.000,00
                </span>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div id="paypal-button-pasteles"></div>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <a class="textNoLogin" asp-controller="Usuarios" asp-action="GuardarPropioUser"><strong>Debes tener una cuenta para comprar..</strong></a>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/ContCar.js"></script>

    <script>
        paypal.Buttons({
            style: {
                color: 'blue',
                shape: 'pill',
                label: 'pay'
            },
            createOrder: function (data, actions) {
                // Obtener la desripcion:
                var elementos = document.getElementsByClassName('carrito-item-titulo');
                var listadoDeCompras = "";
                for (var i = 0; i < elementos.length; i++) {
                    listadoDeCompras += elementos[i].innerText + " x " + document.getElementsByClassName('carrito-item-cantidad')[i].value;
                    if (i < elementos.length - 1) {
                        listadoDeCompras += ", ";
                    }
                }
                // Obtener el total:
                var totalTexto = document.getElementsByClassName('carrito-precio-total')[0].innerText;
                var totalNumerico = totalTexto.replace('S/.', '').replace(',00', '');
                var totalDividido = totalNumerico / 3.60;
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: totalDividido.toFixed(2),
                        },
                        description: listadoDeCompras
                    }]
                }).catch(function (error) {
                    console.error('Error creating PayPal order:', error);
                });
            },
            onApprove: function (data, actions) {
                actions.order.capture().then(function (detalles) {
                    // Usuario del sistema
                    var usuario = "@User.Identity.Name"
                    // Costo
                    var costo = detalles.purchase_units[0].amount.value;
                    // Descripcion
                    var descripcion = detalles.purchase_units[0].description;
                    // Fecha actual
                    var fechaActual = new Date();
                    var dia = fechaActual.getDate(); var mes = fechaActual.getMonth() + 1;
                    var año = fechaActual.getFullYear(); var horas = fechaActual.getHours();
                    var minutos = fechaActual.getMinutes(); var segundos = fechaActual.getSeconds();
                    var fechaFormateada = año + '-' + mes + '-' + dia + '   ' + horas + ':' + minutos + ':' + segundos
                    $.ajax({
                        url: '/Factura/CompraRealizada',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            usuario: usuario,
                            costo: costo,
                            descripcion: descripcion,
                            fecha: fechaFormateada
                        }),
                        success: function (response) {
                            // Mostrar SweetAlert2 en caso de éxito
                            Swal.fire({
                                icon: 'success',
                                title: '¡Compra realizada!',
                                text: 'Factura guardada exitosamente.',
                                background: '#212529',
                                color: '#FFFFFF',
                                confirmButtonText: 'Ok'
                            }).then(function () {
                                window.location.href = '/Tortas/Ver_Pasteles';
                            });
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Error al guardar la factura. Por favor, intenta de nuevo más tarde.',
                                background: '#212529',
                                color: '#FFFFFF',
                                confirmButtonText: 'Ok'
                            });
                            console.error('Error al guardar la factura:', error);
                        }
                    });
                    pagarClicked();
                    console.log(detalles);
                });
            },
            onCancel(data) {
                Swal.fire({
                    icon: 'info',
                    title: 'Compra cancelada',
                    text: 'Usted acaba de cancelar su compra',
                    background: '#212529',
                    color: '#FFFFFF',
                    confirmButtonText: 'Ok'
                });
                console.log(data);
            }
        }).render('#paypal-button-pasteles');
    </script>

}